.courses {
  h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__name {
    text-transform: capitalize !important;
    font-size: 12px !important;
  }

  &__title {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__enroll {
      display: flex;
      align-items: center;
      .icon {
        font-size: 18px;
        margin-right: 0.5rem;
      }
      span {
        font-size: 18px;
      }
    }
  }

  button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;

    padding: 15px 52px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #404040;
    &:hover {
      background-color: var(--theme-color);
    }
  }
}
