@use "./utils/" as *;

.latest {
  h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2rem;

    @include breakpoint-up("large") {
      font-size: 2rem;
    }
  }
  p {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 0.5rem;
    }
    span {
      font-size: 16px;
    }
  }
}
